services:
  db:
    image: postgres:15-alpine
    container_name: guiapymes-db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: guiapymes_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: guiapymes-redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data:
